.sunburst-view {


}

#centerCircle {
-fx-fill: transparent;
}

#centerCircle:hover {
-fx-fill: yellow;
-fx-opacity: 60%;

-fx-stroke: transparent;
}


.sunburst-view .donut-unit:hover {

   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.legend {
    -fx-padding: 15;
    -fx-spacing: 10;

}

.legend-item {
    -fx-spacing: 10;
    -fx-font-size: 1.5em;
}